<mat-nav-list>
  <div class="logo-area">
    <mat-icon>menu_book</mat-icon>
    <span>Cozy Kitchen</span>
  </div>

  <mat-list-item routerLink="/recipes" routerLinkActive="active">
    <mat-icon matListItemIcon>lunch_dining</mat-icon>
    <span matListItemTitle>Recipes</span>
  </mat-list-item>

  <mat-list-item routerLink="/meal-plans" routerLinkActive="active">
    <mat-icon matListItemIcon>calendar_today</mat-icon>
    <span matListItemTitle>Meal Planner</span>
  </mat-list-item>

  <mat-list-item routerLink="/shopping-lists" routerLinkActive="active">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <span matListItemTitle>Shopping List</span>
  </mat-list-item>
</mat-nav-list>
